{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <th>Type</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                {% for type in types %}
                    <td><img src="{{ asset('type/Miniature_Type_'~ type.name ~'_EB.png') }}" style="heigth: 15px; width: 68px"></td>
                    <td>supprimer</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}